body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  text-align: center;
}

header {
  background-color: #e63946;
  color: white;
  padding: 1em;
}

.container {
  margin: 2em auto;
}

input, button {
  padding: 0.5em;
  font-size: 1em;
  margin: 0.5em;
}

.card {
  background: white;
  margin-top: 1em;
  padding: 1.5em;
  border-radius: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 120px;
}

.card h3 {
  text-transform: capitalize;
}
